<h1 class="display-4">Book Detail</h1>

<form #bookForm="ngForm" autocomplete="on" (submit)="onSubmit(bookForm)">

  <input type="hidden" name="id" [(ngModel)]="bookService.formData.id">
  
  <div class="form-group">
    <input name="title" #denumire="ngModel" [(ngModel)]="bookService.formData.title" class="form-control" placeholder="Titlu" required>
    <div *ngIf="denumire.invalid && denumire.touched" class="validation-error">This field is required.</div>
  </div>

  <div class="form-group">
    <input name="author" [(ngModel)]="bookService.formData.author" class="form-control" placeholder="Autor(i)">
  </div>
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <input name="code" [(ngModel)]="bookService.formData.code" class="form-control" placeholder="Cod ISMB">
    </div>
    <div class="form-group  col-md-6">
      <input name="price" type="number" [(ngModel)]="bookService.formData.price" class="form-control" placeholder="Pret">
    </div>
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="bookForm.invalid" class="btn btn-lg btn-block btn-info">SUBMIT</button>
  </div>

</form>