<div class="container">
  <app-books></app-books>
</div>
  
<br /><hr /><br />

<div class="container">
  <app-task-list></app-task-list>
</div>
  
<br /><hr /><br />

<div class="container">
  <div class="row">
    <app-orders class="col s6"></app-orders>
    <app-order-list class="col s6"></app-order-list>
  </div>
</div>


<br /><hr /><br />

<div class="container-fluid" style="margin-left: 16px;">
  <i>change firebase config in app.module.ts</i>
  <div style="color: blue;">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>

  <nav>
    <a routerLink="customers" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a> &nbsp; 
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add New</a>
  </nav>

  <br />
  <router-outlet></router-outlet>
</div>